[2019-07-03 13:38] julienbrg opened #11 "Bounty #1 - Soccer Scores DOracle"
### What you will learn

- Feed API data into your Ethereum smart contract using a decentralized oracle.

### Prerequisite

- You must know at least one programming language
- Basic knowledge of how Ethereum and smart contracts work

### App requirements

- **Use case**: soccer game betting platforms
- **Data source**: soccer game API (example)
- **Input**: a soccer game ID
- **Output**: official

[2019-07-03 15:08] julienbrg opened #12 "Bounty #3 - Bitcoin Transfer Verifier DOracle"
### What you will learn

- Feed API data into your Ethereum smart contract using a decentralized oracle.

### Prerequisite

- You must know at least one programming language
- Basic knowledge of how Ethereum and smart contracts work

### App requirements

- **Use case**: ICO crowdsale smart contract
- **Data source**: a Bitcoin explorer (example)
- **Input:** a BTC transaction hash
- **Output**: B

[2019-07-04 07:37] julienbrg opened #13 "Bounty #4 - TLS Notary DOracle"
### What you will learn

- Feed API data into your Ethereum smart contract using a decentralized oracle.

### Prerequisite

- You must know at least one programming language
- Basic knowledge of how Ethereum and smart contracts work

### App requirements

- **Use case**: on-chain TLS proof of web content
- **Data source**: user input (must be a URL)
- **Input**: any URL
- **Output**: URL content +

[2019-07-04 07:40] julienbrg opened #14 "Bounty #2 - Flight Delay Detector DOracle"
### What you will learn

- Feed API data into your Ethereum smart contract using a decentralized oracle.

### Prerequisite

- You must know at least one programming language
- Basic knowledge of how Ethereum and smart contracts work

### App requirements

- **Use case**: flight insurance services
- **Data source**: a flight API (example)
- **Input**: a flight ID
- **Output**: delay in minutes

###

[2019-07-05 17:42] erazhu31 commented on #11
HI I would to have more info about the soccer game API and match Id .
are they provided ?
thanks

[2019-07-05 17:44] erazhu31 commented on #14
Hi i would like to have more info about the app requirement
Use case: flight insurance services
Data source: a flight API (example)
Input: a flight ID
Output: delay in minutes
thanks

[2019-07-19 14:39] sulliwane commented on #11
@erazhu31 @benaitis @pengiundev Hi all!

Thank you for your interest in learning how to build a **[Decentralized Oracle](https://medium.com/iex-ec/why-your-dapp-needs-a-decentralized-oracle-2f2403f9fd7)**.

Congrats, we just approved your application.

Good news: the three of you looked motivated so we decided that anyone of you that completes the training will receive the RLC bounty :)

Let's sta

[2019-07-19 14:45] sulliwane commented on #12
Hi @j48 !

Thank you for your interest in learning how to build a [**Decentralized Oracle**](https://medium.com/iex-ec/why-your-dapp-needs-a-decentralized-oracle-2f2403f9fd7).

Congrats, we just approved your application.

Let's start!

1. Please join our [Slack #tech-support channel](http://slack.iex.ec/) so that you can ask your questions to the iExec tech team.
2. Please post your Slack usernam

[2019-07-19 14:47] sulliwane commented on #14
Hi @johnlenin00 !

Thank you for your interest in learning how to build a [**Decentralized Oracle**](https://medium.com/iex-ec/why-your-dapp-needs-a-decentralized-oracle-2f2403f9fd7).

Congrats, we just approved your application.

Let's start!

1. Please join our [Slack #tech-support channel](http://slack.iex.ec/) so that you can ask your questions to the iExec tech team.
2. Please post your Slack

[2019-07-19 20:36] pengiundev commented on #11
My slack username is same as here - pengiundev

[2019-07-19 23:28] pengiundev commented on #11
I think I'm ready - here's the repo with the code - https://github.com/pengiundev/iexecSoccerOracle
I deployed the contract at 0xAf782e047A29D2F6345f39D5A071f37E477a5022 and my appId is 0xF9ce5bd42f03bd9A916d97DeEf30b1160E17af3f

The biggest struggle was deploying the contract and setting up parity but thankfully @Pepe from slack pointed me to the tutorial and I saw that you have an infura node se

[2019-07-20 23:29] j48 commented on #12
cool, I'll have it finished by the end of monday. my slack is j48

[2019-07-24 19:34] erazhu31 commented on #11
Hi
App deployed here :
Deployed new app at address 0xC8dEE26645D4b25DFCbA81F182D5d10eA263bc2A
App Id:  0x7eDf42aD34C45fC8E73B9634C5e2fE25025040A8
Contract Adr: 0x9A18f111b24aC4973f8333F0A5535baAac4E70eF

[2019-07-25 13:53] sulliwane commented on #13
Hi @erazhu31,

Thank you for your interest in learning how to build a **[Decentralized Oracle](https://medium.com/iex-ec/why-your-dapp-needs-a-decentralized-oracle-2f2403f9fd7)**.

Congrats, we just approved your application.

Let's start!

1.  Please join our [Slack #tech-support channel](https://slack.iex.ec/) so that you can ask your questions to the iExec tech team.
2. Please post your Slack u

[2019-07-29 13:41] pengiundev commented on #11
I opened a pull request - #19

[2019-07-30 12:45] erazhu31 commented on #13
hi
still working on it thanks

[2019-07-31 13:18] sulliwane commented on #13
Ok, no problem. Let us know when your PR is ready! Good luck @erazhu31 :)

[2019-08-19 12:24] erazhu31 commented on #13
hi
i will provide a pr soon
thanks

[2019-08-23 23:01] johnlenin00 commented on #14
sorry, was gone for a while and forgot about this
I'm freeing up the job for whoever would like to take on it.

[2019-08-28 07:31] sulliwane commented on #14
Hey @johnlenin00, no problem. Thanks for notifying us!

Hi @mlekena !

Thank you for your interest in learning how to build a Decentralized Oracle.

Congrats, we just approved your application.

Let's start!

1.  Please join our [Slack #tech-support channel](https://slack.iex.ec/) so that you can ask your questions to the iExec tech team.
2. Please post your Slack username in this thread (so we cl

[2019-08-31 20:45] mlekena commented on #14
Slack name: Theko

[2019-08-31 22:53] sulliwane commented on #14
Thanks @mlekena. Don't hesitate to ask questions in the slack #tech-support channel, and make a PR as soon as you have something so we can give you feedback. Good luck!

[2019-09-03 14:09] mlekena commented on #14
@sulliwane Sounds like a plan.

[2019-09-05 15:09] #12 closed

[2019-09-05 15:09] #11 closed

[2019-09-05 15:16] sulliwane opened #21 "Bounty #5 - Bank Card Payment Validator"
### What you will learn

- Feed API data into your Ethereum smart contract using a decentralized oracle.

### Prerequisite

- You must know at least one programming language
- Basic knowledge of how Ethereum and smart contracts work

### App requirements

- **Use case**: Bank Card Payment Validator
- **Data source**: a bank card payment processor (Dwolla API ?)
- **Input**: a payment ID
- **Output

[2019-09-05 15:27] sulliwane opened #22 "Bounty #6 - Ethereum Weather Station"
### What you will learn

- Feed API data into your Ethereum smart contract using a decentralized oracle.

### Prerequisite

- You must know at least one programming language
- Basic knowledge of how Ethereum and smart contracts work

### App requirements

- **Use case**: Ethereum Weather Station
- **Data source**: Openweathermap
- **Input**: date + location
- **Output**: simple weather description

[2019-09-05 15:29] sulliwane opened #23 "Bounty #7 - Ultimate Package Tracker"
### What you will learn

- Feed API data into your Ethereum smart contract using a decentralized oracle.

### Prerequisite

- You must know at least one programming language
- Basic knowledge of how Ethereum and smart contracts work

### App requirements

- **Use case**: Ultimate Package Tracker
- **Data source**: La Poste API (or another tracking service like UPS)
- **Input**: tracking ID
- **Out

[2019-09-05 15:30] sulliwane opened #24 "Bounty #8 - Ethereum Anemometer"
### What you will learn

- Feed API data into your Ethereum smart contract using a decentralized oracle.

### Prerequisite

- You must know at least one programming language
- Basic knowledge of how Ethereum and smart contracts work

### App requirements

- **Use case**: Ethereum Anemometer
- **Data source**: Wind data provider, ex: https://api4.windy.com/
- **Input**: Longitude & Latitude
- **Out

[2019-09-06 08:34] waterdrop01 opened #25 "DOracle Upgrade - [SGX | Frontend] - <Name_of_the_existing_oracle>"
I'm starting to work on upgrading the following oracle:

- **DOracle Name**: Soccer Scores DOracle
- **DOracle backend code**: https://github.com/iExecBlockchainComputing/iexec-apps/tree/master/erazhu31/SoccerLiveScores
- **Upgrade type**: [SGX | Frontend]

[2019-09-06 08:37] sulliwane opened #26 "DOracle Upgrade - [SGX|Frontend] - <doracle_name>"
I'm starting to work on upgrading the following oracle:

- **DOracle Name**: Soccer Scores DOracle
- **DOracle backend code**: https://github.com/iExecBlockchainComputing/iexec-apps/tree/master/erazhu31/SoccerLiveScores
- **Upgrade type**: [SGX | Frontend]

[2019-09-06 17:36] erazhu31 commented on #13
Hi i did a PR

App is deployed here
✔ Deployed new app at address 0x812da479c0fc3DEDAe6d81F733468cF5b90201b8
contract is here
TlsNotaryOracle deployed at address: 0xC6e7243F736Ab79592a3b2Be80D43D6DF502A604

Thanks

[2019-09-06 17:47] erazhu31 commented on #13
Thanks for the tips

[2019-09-07 22:18] janus commented on #24
App requirements

    Use case: Ethereum Anemometer
    Data source: Wind data provider, ex: https://api4.windy.com/
    Input: Longitude & Latitude
    Output: simple environmental condition including wind strength

What I need to do?
    Apply for the related Gitcoin issue here
    Follow this step by step tutorial: How To Build a Decentralized Oracle on Ethereum
    Submit a pull request with y

[2019-09-08 15:10] janus commented on #24
help needed.

✔ Orderbook
workerpool orders details:
-
  orderHash:            0xd1e9826531de50885c4c3b41601242e8841ce956a46e0ca327d0516a8119c6fa
  workerpool:           0x9B919d74f8Ef49C33343AD3056954A8E3e2F7Dc9
  category:             2
  trust:                1
  price:                36
  remaining:            1
  publicationTimestamp: 2019-09-06T10:35:15.059Z
-
  orderHash:            0xf97da

[2019-09-11 17:11] Sunghee2 commented on #22
Hi! I have a question.
There is a date value in input, but historical weather data isn't free in openweathermap api.
Do I have to buy this to solve this issuse?

[2019-09-14 10:53] janus commented on #24
@sulliwane

I am also most done, https://github.com/janus/wind-feed.
I have issue with this command, `iexec orderbook app <app_eth_address> --chain kovan # copy the app order hash returned by this command`
It does not produce any order hash , just empty:
[code]

[2019-09-14 11:49] janus commented on #24
@sulliwane
My PR is here, https://github.com/iExecBlockchainComputing/iexec-apps/pull/28

[2019-09-27 04:36] Frippo40 commented on #23
Hello!

I published what I have completed on kovan but ran into a few problems:

Here is the app:
https://explorer.iex.ec/kovan/app/0xE944Eb8acd091232791C96B677160C7943065bC3

1) I filled an order to test and the results were "standard_init_linux.go:211: exec user process caused "exec format error""

I don't know how to debug that...

Also 2) the UPS API requires a username and password, so I para

[2019-10-13 16:43] Solexplorer commented on #24
Is this bounty still open ? I would like to work on it 😄

[2019-10-13 16:44] Solexplorer commented on #22
Is this bounty still open ? I would like to work on it 😄

[2019-10-13 17:47] sulliwane commented on #22
@Solexplorer yes it is :)

[2019-10-17 09:13] sulliwane commented on #24
@Solexplorer yes still open :)

[2019-10-17 09:16] sulliwane commented on #24
@sirlanceoflompoc @michael-alio @ianphilips @jberg03

Hi all, are you still working on this bounty? Please submit your PR if you are! Thanks

[2019-10-17 09:18] sulliwane commented on #23
Hi @Frippo40, thanks for the update. Very sorry for the late reply, I was busy attending Devcon5.

It's great to see that you deployed your application on iExec, but did you submit a PR with your code?

If not, please do so we can review it! Thanks

[2019-10-17 09:20] sulliwane commented on #22
@revcozmo @sirlanceoflompoc @cmaliwal @hamzzy @theblockchainlottery @melkibson

Hi all!
Are you still working on this bounty?
Please submit your PR if you are!
Thanks

[2019-10-17 09:24] sulliwane commented on #22
Hi @Sunghee2,

Very sorry for the late reply. That's a good point, let me ping our engineer @Amxx  to give it a look!

Also, could you please apply on Gitcoin to work on this issue? So you can be eligible for the 500RLC bounty. Thanks!

[2019-10-17 09:27] sulliwane commented on #21
@thomasvangurp @jesus989

Hi all!
Are you still working on this bounty?
Please submit your PR if you are!
Thanks

[2019-10-17 10:23] emmaodia commented on #21
Hi @sulliwane Kindly review my PR and give feedback. Thanks.

[2019-10-17 10:33] sulliwane commented on #21
Hi @emmaodia, we are on it no worries :) Thanks for you contribution

[2019-10-17 13:08] revcozmo commented on #22
Hi@sulliwne,

Yes, I am still working on this bounty.
I should be posting for your review Monday/Tuesday at the latest.

Thanks for your note.
Please standby.

[2019-10-18 13:06] sulliwane commented on #22
@revcozmo cool.

@Sunghee2 I just had a look, if you can't find any alternative to openweathermap API for historical data (you may give https://darksky.net/dev/docs a try), then you can just do "live weather condition". Anytime there is a call, it retrieves the current conditions.

[2019-10-18 14:41] Sunghee2 commented on #22
@sulliwane Thank you! I'll try the API.

[2019-10-20 01:13] janus commented on #22
@sulliwane
This is @janus , I have done the Wind based... If no one sends in PR , I would be work on it. What do you think?

[2019-10-21 19:05] Frippo40 commented on #23
@sulliwane Oh sorry! I've just submitted a PR: https://github.com/iExecBlockchainComputing/iexec-apps/pull/36

[2019-10-21 21:24] Ljtron commented on #23
I have a question how do you call the function named “_iexecDoracleGetVerifiedResult” on your doracle smart contract, so it will check the result stored on the iExec’s smart contract from the step by step guide

[2019-10-21 21:38] janus commented on #24
@sulliwane
Please approve me again, my PR has been merged. And I was told that payment would be within a week.

[2019-10-22 08:27] sulliwane commented on #24
@janus it's approved

[2019-10-22 10:34] Andy92Pac commented on #23
Look at how they did it in their price feed doracle example https://github.com/iExecBlockchainComputing/price-feed-doracle/blob/b7cd4ef5e286189f47a6959eceef17ecd0928934/contracts/PriceOracle.sol#L57

[2019-10-23 20:27] Ljtron commented on #23
what is the doracle call id

[2019-11-01 20:37] thomasvangurp opened #38 "iexec task show failed with ObjectNotFoundError"
Not sure if this is the right place to ask, please let me know if not.
I'm trying to follow the steps outlined here https://medium.com/iex-ec/how-to-build-a-decentralized-oracle-on-ethereum-a-step-by-step-guide-d8c14719b69f
for a bank_card_payment for which I submitted #29 .
Everything goes well except for showing the task id.
[code]
[code]

[2019-11-05 17:21] faithhunja commented on #22
Hi @sulliwane . Is this bounty still open?

[2019-11-05 22:12] sulliwane commented on #22
Hi @faithhunja, we will close the bounty tomorrow and announce the winners end of the week. If you can do a pull request by tomorrow, we'll be happy to review it :) Don't forget to do a "Work Request" on the gitcoin bounty page => https://gitcoin.co/issue/iExecBlockchainComputing/iexec-apps/22/3419. Thanks!

[2019-11-07 17:40] sulliwane commented on #24
Congratulations to @janus and @nikhil3000 for your great work! An article will be published tomorrow on the iExec Medium.

[2019-11-07 17:40] #24 closed

[2019-11-07 17:41] sulliwane commented on #23
Congratulations to @Frippo40  and @Andy92Pac for your great work! An article will be published tomorrow on the iExec Medium to share the good news :)

[2019-11-07 17:41] #23 closed

[2019-11-07 17:42] sulliwane commented on #22
Congratulations to @Andy92Pac for your great work! An article will be published tomorrow on the iExec Medium to share the good news :)

[2019-11-07 17:42] #22 closed

[2019-11-07 17:42] sulliwane commented on #21
Congratulations to @emmaodia for your great work! An article will be published tomorrow on the iExec Medium to share the good news :)

[2019-11-07 17:42] #21 closed

[2019-11-17 20:05] nikhil3000 commented on #14
is this bounty still available? I would like to work on it.

[2019-11-26 16:14] emmaodia commented on #14
Hi @sulliwane If this Bounty is still available, I'd love to get it done. Thank you!

[2019-11-26 17:34] sulliwane commented on #14
Hi @johnlenin00, @mlekena, @nikhil3000, @emmaodia, this bounty is still open! 300RLC (~200$ at today's rate). Your contribution is welcome!

[2019-11-29 21:34] nikhil3000 commented on #14
@sulliwane I have opened a #40 . Please have a look at it.

[2019-12-01 14:12] sulliwane commented on #14
@nikhil3000 thanks! we'll have a look at it. Don't forget to "submit work" on the Gitcoin bounty page as well: https://gitcoin.co/issue/iExecBlockchainComputing/iexec-apps/14/3197

[2019-12-01 17:09] nikhil3000 commented on #14
@sulliwane there is no option to submit the work on the gitcoin issue page as the bounty is marked as a traditional project i.e one worker at a time and the issue has already been assigned to mlekena, that is the reason why I asked here in the comments before starting working on it.

So if you can assign the issue to me on the gitcoin page, I'll submit there as well.

[2019-12-02 12:08] janus commented on #14
I am free , can I join? @sulliwane

[2019-12-03 13:30] sulliwane commented on #14
Hi @janus, You are welcome to submit your code of course! Deadline for contribution is set on December 11th.

For this bounty there will only be one winner, meaning the best overall contribution on Wed. 11th Dec. will take all the 300RLC price (trying to differentiate oneself from existing submission is important ;) Happy coding Gents!

[2019-12-11 10:46] emmaodia commented on #13
@sulliwane @julienbrg If this bounty is still open, I want to work on it. I implement the Bank Card Payment validator. I can submit a PR for this in the next 2 days. Thank you!

[2019-12-11 11:02] sulliwane commented on #13
Hi @emmaodia, Yes the bounty is still open. But TLS Notary is a special beast :) It's probably a bit more complicated than other bounties (you can have a look at this existing PR and the review: https://github.com/iExecBlockchainComputing/iexec-apps/pull/27). You are welcome to give it a try!

[2019-12-11 11:04] emmaodia commented on #13
SWEET! I'm up for the challenge! Thanks.

[2019-12-30 12:28] nikhil3000 commented on #14
@sulliwane  any update?

[2019-12-30 17:12] sulliwane commented on #14
Hi @nikhil3000, sorry for the delay! The tech team couldn't find the time to review your submission. Should be done before Jan. 8th. I'll keep you informed :slightly_smiling_face:

[2019-12-31 16:32] emmaodia commented on #13
Hi @sulliwane I have submitted a PR here: https://github.com/iExecBlockchainComputing/iexec-apps/pull/42

[2020-01-03 21:37] emmaodia commented on #13
Hello @julienbrg @sulliwane Kindly review my PR. Thank you.

[2020-01-09 21:54] emmaodia commented on #13
@sulliwane @julienbrg Please can I get feedback on my PR. Thanks. :+1:

[2020-01-09 22:01] sulliwane commented on #13
Hi @emmaodia, I'm very sorry for the delay! The tech team being back from holiday since less than a week, they are still very busy. As soon as @Amxx has some time, he'll review your PR. Don't worry, the bounty is locked in Gitcoin and if the review is OK, the RLC will be yours ;) Thanks a lot for your patience!

[2020-01-09 23:23] emmaodia commented on #13
Great! That is fine @sulliwane. I'm even more excited to hear from you! Thank you for taking the time.
Okay. Patiently waiting for @Amxx. Thanks.

[2020-01-23 12:01] sulliwane commented on #14
Congrats to @nikhil3000 for your great work! Closing the issue :)

[2020-01-23 12:01] #14 closed

[2020-01-23 12:02] sulliwane commented on #13
Hi @emmaodia, sorry to let you know that we finally decided to cancel the TLS Notary issue, as it was not understood correctly by most of the contributors. Thanks anyway for your contribution, and stay tuned as more bounties are to come :) Cheers!

[2020-01-23 12:02] #13 closed

[2021-06-14 12:06] blairmaclennan opened #73 "gitcoin test bounty - app 123"
### **description**:

TITLE
test test testtest testtesttesttest test

**_PREREQUISITES

WHAT YOU WILL LEARN_**

[2021-06-15 15:02] blairmaclennan opened #74 "test delete"

[2021-06-15 15:13] #74 closed, assigned to nobody

[2021-06-17 13:57] #73 closed, assigned to nobody

[2021-06-17 14:23] blairmaclennan opened #76 "Bounty HERDAO x iExec Workshop - Decentralized Privacy Communication & Marketing App - 3rd Place $1000 in $RLC 🥉"
Bounty Prize: 🥉$1000 in RLC

Deadline to submit the dApp: 23/07/2023 at 5pm

🔴 DISCLAIMER:

1. Don't take into account the amount of the reward displayed on the Gitcoin Page.
2. For smart contract deployment, you will need to be whitelisted on the iExec Sidechain (Bellecour). To request whitelisting, please visit support.iex.ec and request sidechain whitelisting.

🟡 Topic
The focus of this bounty

[2021-06-29 21:52] pumplemousse opened #78 "iExec Trusted Decentralized Oracles for Random Generator (with front end application, e.g Lottery app) - see example"
**Topic:** Using iExec for Decentralized Oracles for random number generator (for use in lottery applications, for example)

**Developer prize application:** Large

**iExec technology innovation:**
iExec Trusted Decentralized Oracles Confidential used as a random number generator - for casino applications, for example.

**Expected deliverable:**
Front end application, using an updated version of r

[2021-06-30 08:15] blairmaclennan opened #79 "iExec Developer Rewards Program: Gift Card Application - trusted computing using 'Private Key' dataset"
**Project name:**
RLC Gift Cards - trusted computing using 'Private Key' dataset

**Topic:**
"An application that allows you to print out crypto loaded gift cards. Payments are processed by the decentralized platform between users' iExec Accounts and will act as a 'bank'. With iExec, you can generate a private key that can access a wallet stocked with RLC tokens. Using your application, the user w

[2021-07-08 21:38] timinou commented on #76
Still working on it, needing to balance it out with company development (this bounty relates to more long-term work).

Release date is now 1.5-2 months from the release of bounty, which puts it at **mid-August to early September**.

Work involves two separate components:
- UI work, which does not rely on iExec's infrastructure
- Content expansion API, which does.

Work will be split like so:
1. In

[2021-07-09 16:05] blairmaclennan commented on #76
Hi Othman,

That's great! Thanks a lot for that update. In fact, these were automated
reminder messages from GitCoin, I'll snooze it for a little while for you
:)

But yes, best to focus on the UI for now. The iExec V6 SDK, and technical
documentation will be coming in a week or 2. This will surely be pretty
essential for your work. I'll keep you posted on all that!

Let me know if you need anythi

[2021-07-12 12:42] blairmaclennan commented on #79
Hi DanDevel,

Do you have any updates on the iExec bounty? Have you started the work? If
you need any help, I'd be happy to arrange a call with you and the iExec
team.

Looking forward to hearing back from you.

Best,
Blair

On Sun, Jul 11, 2021 at 6:15 PM Gitcoin.co Bot ***@***.***>
wrote:

--

*Blair Maclennan   *
Communications and Marketing, iExec <http://iex.ec/>
***@***.*** ***@***.***>
+44

[2021-07-13 23:15] DanDevel commented on #79
Hello,
Sorry for the delay, I think I need a few days more to accomplish this
task. if you keep it open i'll try to finish asap.

Best!

On Mon, Jul 12, 2021 at 10:15 AM Gitcoin.co Bot ***@***.***>
wrote:

[2021-07-14 15:40] blairmaclennan commented on #79
Hi Dan,

Good to hear from you. That’s no worries at all. Not a big rush, these are
just automated messages from GitCoin.

I’ll check back in with you later to see if we can offer you any support!

Best,

Blair

Le mer. 14 juil. 2021 à 01:15, DanDevel ***@***.***> a écrit :

--

*Blair Maclennan   *
Communications and Marketing, iExec <http://iex.ec/>
***@***.*** ***@***.***>
+44 759 67 96 139 <ht

[2021-07-14 18:36] hernanrz commented on #78
Hello! First of all thanks for selecting me, I'm gonna be starting work on
this, I'll post updates here as soon as possible, I'll start by reading up
on iExec's documentation

On Tue, Jul 13, 2021 at 12:16 PM Gitcoin.co Bot ***@***.***>
wrote:

[2021-07-16 08:35] blairmaclennan opened #80 "Chest X-ray Covid Classifier - using Blockchain and iExec Confidential Computing (iExec Developer Rewards Program)"
_**iExec Developer Rewards & Grants Program**_

**Project name:**
Chest X-ray Covid Classifier - using Blockchain and iExec Confidential Computing

**Topic:**
Application for analyzing chest X-ray images to classify the lungs as healthy, with pneumonia or COVID.

**Solution Description:**
Application for analyzing chest X-ray images to classify whether the lungs are healthy, with pneumonia or COVI

[2021-07-16 08:46] blairmaclennan opened #81 "SuperRender - blockchain based permission less, decentralized rendering platform. (iExec Developer Rewards Program)"
_**iExec Developer Rewards & Grants Program**_

**Project name:**
SuperRender

**Topic:**
SuperRender is a blockchain based permission less, decentralized rendering platform. We are currently
building our Minimum Viable Product using IExec computing technology.

SuperRender aims to provide creators a simple, intuitive and token economy based rendering
environment, to start with Blender as the  ren

[2021-07-16 11:01] papealioune commented on #81
Hi @blairmaclennan I would like to contribute to the project.
I'm a junior DevOps engineer who can help to setup CI/CD with GitlabCI/Github Actions with Docker and Kubernetes on AWS (EKS).

[2021-07-19 17:39] georgesmith9914 commented on #81
Creating user flow design..

[2021-07-20 16:43] georgesmith9914 commented on #81
Working on user flow design..

[2021-07-20 19:58] estelle5442 opened #82 "blockchain"
this already has a blockchain

[2021-07-21 08:33] blairmaclennan commented on #81
Hi George,

No worries - thanks for updates. I'm not sure if I had already mentioned
this to you, but these are automatic response/reminders messages sent by
GitCoin.

Let me know if you need anything.

Best,

Blair

On Tue, Jul 20, 2021 at 6:43 PM georgesmith9914 ***@***.***>
wrote:

--

*Blair Maclennan   *
Communications and Marketing, iExec <http://iex.ec/>
***@***.*** ***@***.***>
+44 759 67

[2021-07-23 18:32] 0xshreyash commented on #80
What does it mean for this project to have a November release date? The release of the winning submission or the data itself?

[2021-07-25 21:40] georgesmith9914 commented on #81
Hi Blair,

Thanks a lot. I'll let you know for any help I need while building this.

Thanks,
George

On Wed, Jul 21, 2021 at 10:33 AM blairmaclennan ***@***.***>
wrote:

[2021-07-25 21:41] georgesmith9914 commented on #81
Still building the user flow concept, considering how a Blender render workflow could work.

[2021-07-26 09:01] blairmaclennan commented on #79
Hi Dan,

I'm seeing these automated messages from GitCoin - let us know how this is
going, if you have any updates or if you need any support from us.

Here is our support channel on Discord: https://discord.gg/g6HZtsq6U5   - I
can also put you in direct contact with our support engineer

<https://discord.gg/g6HZtsq6U5>Have a good day, and good luck with the app!

Best,

Blair

On Sat, Jul 24, 202

[2021-07-29 17:07] georgesmith9914 commented on #81
Working on Docker image for Blender.

[2021-08-03 20:10] georgesmith9914 commented on #81
Prepared Docker image for blender render with IExec.
Prepared iexec.json and chain.json files.
[Github repo link](https://github.com/georgesmith9914/superrender)

[2021-08-12 11:14] blairmaclennan commented on #76
Hi Othman,

Hope your summer is going well. I've just got back from a little break
myself.

How are you getting on with the application? If you have reached the iExec
integration phase yet? If so, don't hesitate to get in touch if you need
any specific questions. Email us directly or use the Discord tech support
channel. <https://discord.gg/g6HZtsq6U5>

If you are still working on the app itself,

[2021-08-13 12:05] rianef26 commented on #80
I will make the program in my computer after I the lockdown in my hometoen is over

[2021-08-17 11:37] rianef26 commented on #80
I Will malem some application to ui

[2021-08-17 14:15] georgesmith9914 commented on #81
Updating Docker image.

[2021-08-20 04:15] georgesmith9914 commented on #81
Updated Docker image and entrypoint script for environment variables. Latest repo is [here ](https://github.com/georgesmith9914/superrender)

[2021-08-29 12:54] georgesmith9914 commented on #81
Updating docker image.

[2021-09-29 10:40] blairmaclennan commented on #79
Hi again Dan,

Would you be able to give us an update of where you are with this
application? Even if it is not exactly as described in the bounty, we'd
like to share some results in our communications. We'd ideally like this to
be finished within the coming weeks. Let us know if you have any questions,
again, here is the link to our support channel on Discord:
https://discord.gg/g6HZtsq6U5.

Look

[2021-09-30 12:04] DanDevel commented on #79
Hello friends, Salut mis ami.

I'd like to work on your project looks really amazing, but i could not find
the exactly documentation about "where to start".

Theres a lot of docs on your website so my question is: what documentation
do i should follow to work with Private Tokens, related to protect my
dataset?

Can you give me directions?

Thank you
Merci

On Wed, Sep 29, 2021 at 4:40 AM blairmacl

[2021-10-02 21:34] georgesmith9914 commented on #81
Implemented and provided a report.

[2021-10-22 09:44] blairmaclennan opened #86 "iExec Open Bounty: Build any application that runs on Off-Chain Computing (Build and earn RLC tokens)"
🟡 **Topic |**

iExec Open Bounty: anyone can claim, deliver the integration, and get rewarded in RLC tokens!

🟡 **Description |**

Create an application using iExec to execute deterministic computational tasks off-chain, while the computational result is brought back on-chain.

🟡 **Innovation potential (what tech iExec) |**

Using iExec for Off-chain computation of deterministic tasks

 
🟡 **Expec

[2021-10-22 11:42] blairmaclennan opened #87 "iExec Open Bounty: NFT Market Floor Price app using iExec Decentralized Oracles (Build and earn RLC tokens)"
🟡 **Topic |**

iExec Open Bounty: anyone can claim, deliver the integration, and get rewarded in RLC tokens! Full tech support offered by iExec.

🟡 **Description |**

Decentralized Oracle that makes a return call the result with data of an NFT project's floor price (the lowest price at which an NFT can be bought from the project/collection) - using OpenSea API: [https://docs.opensea.io/reference/a

[2021-10-22 12:47] blairmaclennan opened #88 "iExec Open Bounty: MMA fight Prediction game using iExec Decentralized Oracles (Build and earn RLC tokens)"
🟡 **Topic |**

iExec Open Bounty: anyone can claim, deliver the integration, and get rewarded in RLC tokens! Full tech support offered by iExec.

🟡 **Description |**

MMA results fed to the Oracle to enable prognostics/predictions (KO, TKO, round, time)

🟡 **Innovation potential (what tech iExec) |**

iExec Decentralized Oracles

 
🟡 **Expected deliverable |**

Simple UI allowing to update results

[2021-10-22 13:34] blairmaclennan opened #89 "iExec Open Bounty: Build any App using a Decentralized Oracle from iExec Oracle Factory"
🟡 **Topic |**

iExec Open Bounty: anyone can claim, deliver the integration, and get rewarded in RLC tokens! Full tech support offered by iExec.

🟡 **Description |**

This bounty requires you to build an application based on a decentralized oracle from the iExec Oracle Factory. The iExec Oracle Factory can be used to create custom decentralized oracles from any API - in less than 5 minutes! Once c

[2021-10-22 13:39] blairmaclennan opened #90 "iExec Open Bounty: "Late again" app using Decentralized Oracles - Build and earn RLC tokens!"
🟡 **Topic |**

iExec Open Bounty: anyone can claim, deliver the integration, and get rewarded in RLC tokens!

🟡 **Description |**

Use the SNCF API to predict if a train will arrive at Gare Part-dieu from Paris Gare de Lyon (or any other trainline API with any stations)

🟡 **Innovation potential (what tech iExec) |**

iExec Decentralized Oracles

 
🟡 **Expected deliverable |**

Simple UI with opti

[2021-10-22 13:52] blairmaclennan opened #91 "iExec Open Bounty: "SwaPoem" - Poems as encrypted datasets using Confidential Computing - Build and earn RLC tokens)"
🟡 **Topic |**

iExec Open Bounty: anyone can claim, deliver the integration, and get rewarded in RLC tokens! Full technical support offered by iExec.

🟡 **Description |**

Create confidential datasets (with a sweet poem inside) to swap with people

🟡 **Innovation potential (what tech iExec) |**

iExec Confidential Computing
 
🟡 **Expected deliverable |**

App to deploy and share confidential encry

[2021-10-22 13:56] blairmaclennan opened #92 "iExec Open Bounty: "KeySwap" - Mint and swap NFTs - Build and Earn RLC tokens!"
🟡 **Topic |**

iExec Open Bounty: anyone can claim, deliver the integration, and get rewarded in RLC tokens! Full technical support

🟡 **Description |**

Generate a 12 word private key (recovery phrase) with a little reward in the address. Create 50-100 NFTs for each word with some rarer than others) Allow people to mint them. To find the entire private key recovery phrase, you need to reunite all

[2021-10-22 13:58] blairmaclennan opened #93 "iExec Open Bounty: Reward Spotify artists with Crypto using Decentralized Oracles (Build and Earn RLC Tokens)"
🟡 **Topic |**

iExec Open Bounty: anyone can claim, deliver the integration, and get rewarded in RLC tokens! Full technical support offered by iExec.

🟡 **Description |**

Reward artists in crypto, based on monthly listens, using iExec Decentralized Oracles to pull information from:
[https://developer.spotify.com/console](url)

🟡 **Innovation potential (what tech iExec) |**

iExec Confidential Com

[2021-10-22 14:12] blairmaclennan opened #94 "iExec Open Bounty: Metaverse Temperature Oracle using Decentralized Oracles (Build and Earn RLC Tokens)"
🟡 **Topic |**

iExec Open Bounty: anyone can claim, deliver the integration, and get rewarded in RLC tokens! Full technical support offered by iExec.

🟡 **Description |**

Temperature oracle for the https://www.upland.me metaverse (full tech and resource support will be provided by the iExec team)

🟡 **Innovation potential (what tech iExec) |**

iExec Decentralized Oracles

 
🟡 **Expected delivera

[2021-11-06 10:35] jamessandy commented on #88
I'm still on it

[2021-11-09 15:00] NellyCR opened #95 "iExec Developer Rewards Program: Oracle Factory / Custom oracle creation"
🟡 **Project name |**

KnowledgeX is a decentralized platform that lets companies find specialized data scientists for their specific use cases in a marketplace and enables traceable and transparent knowledge generation.

🟡 **Topic |**

iExec Developer Rewards Program , deliver the integration, and get rewarded in RLC tokens!

🟡 **Innovation potential (what tech iExec) |**

Confidential computing

[2021-11-11 17:17] JithinKS97 commented on #93
Hello
I'm still working on the issue.
Thanks

On Thu, 11 Nov, 2021, 10:46 pm Gitcoin.co Bot, ***@***.***>
wrote:

[2021-11-12 06:16] ManyRios commented on #87
Working!

[2021-11-13 22:21] jamessandy commented on #88
Still on it

[2021-11-15 18:13] ManyRios commented on #87
Yup

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Gitcoin.co Bot ***@***.***>
Sent: Monday, November 15, 2021 1:16:06 PM
To: iExecBlockchainComputing/iexec-apps ***@***.***>
Cc: MANUEL RIOS ***@***.***>; Mention ***@***.***>
Subject: Re: [iExecBlockchainComputing/iexec-apps] iExec Open Bounty: NFT Market Floor Price app using iExec Decentralized Oracles (B

[2021-11-16 17:27] JithinKS97 commented on #93
@gitcoinbot
https://github.com/JithinKS97/iexec-spotify-oracle
https://github.com/JithinKS97/spotify-montly-listens-ui far

Here is the works so

[2021-11-19 00:09] ManyRios commented on #87
.

[2021-11-19 00:09] ManyRios commented on #89
.

[2021-11-20 17:59] jamessandy commented on #88
still on it

[2021-11-20 23:10] georgesmith9914 commented on #81
Hi, I have completed the assigned work. SuperRender app is ready. It allows users to render blender files on IExec. Demo video is here https://youtu.be/rRsAzOF24u4 . Repo is here https://github.com/georgesmith9914/superrender  (private repo) .
Report was already shared on email.

App screeshots are here -

[](https://user-images.githubusercontent.com/83978018/142742445-aca27e14-25f9-43b1-8e7e-eb2a

[2021-11-21 17:18] ManyRios commented on #87
I do

[2021-11-22 11:15] blairmaclennan commented on #87
Thanks for the updates Manuel - these reminders are automated by GitCoin,
and are just to confirm you're still working on it :)

On Sun, Nov 21, 2021 at 6:18 PM MANUEL RIOS ***@***.***>
wrote:

--
<https://iex.ec/>
Blair Maclennan
Communication & Community Management
***@***.***
<https://twitter.com/iex_ec> <https://linkedin.com/company/iex.ec>
<https://slack.iex.ec/> <https://t.me/iexec_admin>iex

[2021-11-22 14:12] ManyRios commented on #87
Yeah I know... But I like to repluly to it. That way you know that Im really working :)

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: blairmaclennan ***@***.***>
Sent: Monday, November 22, 2021 7:15:18 AM
To: iExecBlockchainComputing/iexec-apps ***@***.***>
Cc: MANUEL RIOS ***@***.***>; Mention ***@***.***>
Subject: Re: [iExecBlockchainComputing/iexec-apps

[2021-11-22 14:27] blairmaclennan commented on #87
Yes! :) It's much appreciated

On Mon, Nov 22, 2021 at 3:12 PM MANUEL RIOS ***@***.***>
wrote:

--
<https://iex.ec/>
Blair Maclennan
Communication & Community Management
***@***.***
<https://twitter.com/iex_ec> <https://linkedin.com/company/iex.ec>
<https://slack.iex.ec/> <https://t.me/iexec_admin>iex.ec

[2021-11-27 17:27] ManyRios commented on #87
Yup!

[2021-11-29 10:05] jamessandy commented on #88
Yes

[2021-11-30 04:51] ManyRios commented on #87
working!

[2021-11-30 05:50] ManyRios commented on #87
Hey Blair please reach me on discord to ask you something pls :)

[2021-11-30 10:06] blairmaclennan commented on #88
These are just automated reminders from Github - thanks for responding and
letting us know! :)

On Mon, Nov 29, 2021 at 11:05 AM Jammie sandy ***@***.***>
wrote:

--
<https://iex.ec/>
Blair Maclennan
Communication & Community Management
***@***.***
<https://twitter.com/iex_ec> <https://linkedin.com/company/iex.ec>
<https://slack.iex.ec/> <https://t.me/iexec_admin>iex.ec

[2021-12-02 08:24] ManyRios commented on #87
Work submitted and waiting for the feedback

[2021-12-16 18:44] sunydev commented on #90
Hi
Please find my PR here : https://github.com/sunydev/iExec-SNCF-APP-ORACLE
Thanks

[2022-03-24 06:52] ManyRios commented on #88
I can work for this job... I have already work in similar bounties with you guys

[2022-07-15 08:09] Baptoshi opened #99 "Workerlytics: Build a Dashboard for iExec Worker Pools"
🟡 Topic |

iExec Tooling: anyone can claim this bounty, deliver the integration, and get rewarded in RLC.

🟡 Description |

An interactive dashboard UI for iExec Worker Pools that allows users to monitor the activity of its deployed Worker pool on the iExec sidechain (Bellecour chain) using the iExec subgraph.

User Workflow Example:

A user wants to monitor the activity and/or the tasks record of

[2022-07-15 08:17] Baptoshi opened #100 "Bounty HERDAO x iExec Workshop - Decentralized Privacy Communication & Marketing App - 1st Place $3000 in $RLC 🥇"
Bounty Prize: 🥇$3000 in RLC

Deadline to submit the dApp: 23/07/2023 at 5pm

🔴 DISCLAIMER:
1. Don't take into account the amount of the reward displayed on the Gitcoin Page.
2. For smart contract deployment, you will need to be whitelisted on the iExec Sidechain (Bellecour). To request whitelisting, please visit support.iex.ec and request sidechain whitelisting.

🟡 Topic
The focus of this bounty i

[2022-07-15 08:21] Baptoshi opened #101 "User Interface for an iExec ‘Dataset Manager’"
🟡 Topic |

iExec Tooling: anyone can claim this bounty, deliver the integration, and get rewarded in RLC.

🟡 Description |

Today, everyone on the iExec Marketplace uses encrypted assets. The Dataset Provider must encrypt their dataset and have its secret locally. The Dapp Provider pushes a ‘secret’ that's linked to an application into the SMS (Secret Management Service). Finally, the requester pu

[2022-07-15 08:24] Baptoshi opened #102 "User Interface for an iExec ‘Dapp Manager’"
🟡 Topic |

iExec Tooling: anyone can claim this bounty, deliver the integration, and get rewarded in RLC.

🟡 Description |

The Dapp Developer is one of the three key players within the iExec Marketplace. Managing a Dapp that has been deployed on iExec requires multiple tools to understand, visualize, and manage all the application interactions.
This bounty requires you to build a simple interface

[2022-07-15 08:29] Baptoshi opened #103 "User Interface for iExec ‘Tasks Manager’"
🟡 Topic |

iExec Tooling: anyone can claim this bounty, deliver the integration, and get rewarded in RLC.

🟡 Description |

The Task Manager, also known as the ‘requester’ on iExec, connects Dapp Developers with Computing Providers. Task Managers are the end-users of Dapps built on iExec. It is essential that the Task Manager has an attractive UX path: all the elements required to make a decision

[2022-07-15 08:34] Baptoshi opened #104 "Oracle Watcher"
🟡 Topic |

iExec Tooling: anyone can claim this bounty, deliver the integration, and get rewarded in RLC.

🟡 Description |

The Oracle Factory is a massive success for iExec. It allows anyone to build an oracle within 5 minutes. However, we’re always looking for ways to improve. The current version of the Oracle Factory does not allow a user to get the history of the requests made from an oracle.

[2022-07-15 08:36] Baptoshi opened #105 "Bounty HERDAO x iExec Workshop - Decentralized Privacy Communication & Marketing App - 2nd Place $2000 in $RLC 🥈"
Bounty Prize: 🥈$2000 in RLC

Deadline to submit the dApp: 23/07/2023 at 5pm

🔴 DISCLAIMER:

1. Don't take into account the amount of the reward displayed on the Gitcoin Page.
2. For smart contract deployment, you will need to be whitelisted on the iExec Sidechain (Bellecour). To request whitelisting, please visit support.iex.ec and request sidechain whitelisting.

🟡 Topic
The focus of this bounty

[2022-07-15 08:38] Baptoshi opened #106 "#1 Any Off-chain Dapp using iExec"
🟡 Topic |

iExec Tooling: anyone can claim this bounty, deliver the integration, and get rewarded in RLC.

🟡 Description |

Create an application using iExec to execute deterministic computational tasks off-chain, while the computational result is brought back on-chain.

🟡 Innovation potential - what iExec tech is used? |

Using iExec for Off-chain computation of deterministic tasks

🟡 Expected de

[2022-07-15 08:41] Baptoshi opened #107 "A Dashboard for iExec sidechain using TheGraph"
🟡 Topic |

iExec Tooling: anyone can claim this bounty, deliver the integration, and get rewarded in RLC.

🟡 Description |

Build a Dashboard to monitor activity on Bellecour sidechain using TheGraph endpoint

🟡 Innovation potential (what tech iExec) |

TheGraph endpoints

Bellecour:

- https://thegraph.bellecour.iex.ec/subgraphs/name/bellecour/poco-v5

- [wss://ws-thegraph.bellecour.iex.ec/subgra

[2022-08-31 12:37] Baptoshi opened #108 "#2 Any Off-chain Dapp using iExec"
🟡 Topic |

iExec Tooling: anyone can claim this bounty, deliver the integration, and get rewarded in RLC.

🟡 Description |

Create an application using iExec to execute deterministic computational tasks off-chain, while the computational result is brought back on-chain.

🟡 Innovation potential - what iExec tech is used? |

Using iExec for Off-chain computation of deterministic tasks

🟡 Expected de

[2022-08-31 12:43] Baptoshi opened #109 "#3 Any Off-chain Dapp using iExec"
🟡 Topic |

iExec Tooling: anyone can claim this bounty, deliver the integration, and get rewarded in RLC.

🟡 Description |

Create an application using iExec to execute deterministic computational tasks off-chain, while the computational result is brought back on-chain.

🟡 Innovation potential - what iExec tech is used? |

Using iExec for Off-chain computation of deterministic tasks

🟡 Expected de

[2022-08-31 17:53] ManyRios commented on #108
this happens

[2022-09-29 06:37] boyin0x commented on #103
Hey @Baptoshi just uploaded the [repo](https://github.com/boyin0x/iexec-task-manager) with the app, please take a look , just let me know if you want me to make any changes.

[2022-10-10 02:43] boyin0x commented on #103
Hey @Baptoshi the requested changes are deployed to vercel, please check it.

[2022-10-12 06:35] boyin0x commented on #103
Hey @Baptoshi the requested changes are deployed to vercel, please check it.